@import 'src/styles/variables';
@import 'src/styles/mixins';

.btn {
  $blue: map-get($baseColors, 'blue');
  $danger: map-get($baseColors, 'danger');

  display: flex;
  padding: 5px 27px;
  align-items: center;
  justify-content: center;
  background: none;
  color: $blue;
  font: {
    size: 13px;
    weight: normal;
  };
  line-height: 18px;
  border: 1px solid $blue;
  border-radius: 2px;
  @include transition(background);

  &:hover {
    color: #fff;
    cursor: pointer;
    background: $blue;
    @include transition(background);

    svg,
    path,
    rect {
      fill: #fff;
    }
  }

  &--danger {
    color: $danger;
    border-color: $danger;

    &:hover {
      background: $danger;
    }
  }
}
