@import 'src/styles/variables';
@import 'src/styles/mixins';

.new-event-wrp {

  &:first-child {

    .new-event {
      @include max640 {
        width: 100%;
        margin-top: 15px;
      }
    }

    .new-event__default {
      @include max640 {
        display: none;
      }
    }
  }
}

.new-event {
  position: relative;
  padding: 10px 20px 10px 15px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: map-get($baseColors, 'blue');
  background: #ffffff;
  border: 1px dashed map-get($baseColors, 'lightGrey');
  border-radius: 2px;
  cursor: pointer;

  &--show {
    border: 1px solid map-get($baseColors, 'blue');

    .new-event__content {
      transform-origin: top center;
      transform: rotateX(0);
      opacity: 1;
      pointer-events: auto;
      @include transition();
    }
  }

  &__title {
    display: flex;
    align-items: center;
    width: 100%;

    app-ui-icon:not(.new-event__arrow) {
      width: 40px;
      height: 40px;
      margin-right: 15px;

      @include max360 {
        margin-right: 5px;
      }

      span {
        display: flex;
        width: 100%;
        height: 100%;
        place-items: center;
        place-content: center;
      }
    }
  }

  &__arrow {
    margin-left: auto;
    @include transition(transform);

    .new-event--show & {
      transform: rotate(-180deg);
      transform-origin: center;
      @include transition(transform);

      path {
        stroke: map-get($baseColors, 'blue');
      }
    }
  }

  &__content {
    z-index: 2;
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    transform-origin: top center;
    transform: rotateX(90deg);
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    border: 1px solid #dfe2e5;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    @include transition();
  }

  &__option {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    background: #fff;
    color: map-get($baseColors, 'blue');
    text-transform: capitalize;
    border: 0;
    border-bottom: 1px solid transparentize(map-get($baseColors, 'lightGrey'), 0.2);
    cursor: pointer;

    &:hover {
      background: #f4fafe;
      @include transition(background);
    }

    app-ui-icon {
      @include max360 {
        margin-right: 10px;
      }
    }
  }

  &__default {
    position: absolute;
    top: 50%;
    left: -95px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    background: #fff;

    @include max1200 {
      left: -91px;
    }

    > app-ui-icon {
      margin-right: 0;
    }
  }

  &__default-duration {
    margin-top: 5px;
    color: map-get($baseColors, 'lightGrey');
    font-size: 13px;
  }
}
