<div class="new-event"
     [ngClass]="{'new-event--show': isShow}"
>

  <div class="new-event__default">
    <app-ui-icon [iconName]="'carduration'"></app-ui-icon>
    <span class="new-event__default-duration">1:30 min</span>
  </div>

  <div class="new-event__title">
    <app-ui-icon [iconName]="'calendar'"></app-ui-icon>
    <span>+ Add event</span>
    <app-ui-icon
      class="new-event__arrow"
      [iconName]="'arrow'"></app-ui-icon>
  </div>

  <div class="new-event__content">
    <button
      class="new-event__option"
      *ngFor="let type of eventsType"
      (click)="showMessage(type)"
    >
      <app-ui-icon [iconName]="'new' + type.replace(' ', '')"></app-ui-icon>
      {{type}}
    </button>
  </div>
</div>
