@import 'src/styles/variables';
@import 'src/styles/mixins';

.datepicker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 120px;
  background: #ffffff;
  border: 1px solid #dfe2e5;
  border-radius: 2px;
}

.datepicker__info {
  font: {
    weight: bold;
    size: 14px;
  };
  color: map-get($baseColors, 'blue');
}

.datepicker__btn {
  height: 100%;
  width: 40px;
  background: none;
  border: none;
  color: map-get($baseColors, 'blue');
  font: {
    size: 18px;
    weight: bold;
  };

  &:hover {
    cursor: pointer;
  }
}
