<div class="datepicker">
  <button class="datepicker__btn datepicker__btn--minus"
          (click)="removeTime()"
  >
    &minus;
  </button>
  <span class="datepicker__info">{{value}}</span>
  <button class="datepicker__btn datepicker__btn--plus"
          (click)="addTime()"
  >
    +
  </button>
</div>
