<div class="event-card__title">
  <a class="event-card__link"
     href="https://google.com" target="_blank">
    {{eventCard.title}}
  </a>
  <small>или похожий</small></div>
<div class="event-card__info">
  <div class="event-card__info-item event-card__info-item--car">
    <app-ui-icon [iconName]="'car'"></app-ui-icon>
    <span>Аренда автомобиля</span>
  </div>

  <div class="event-card__info-item">
    <span>{{eventCard?.vehicle?.type}}</span>
  </div>

  <div class="event-card__info-item">
    <app-ui-icon [iconName]="'passengers'"></app-ui-icon>
    4
  </div>

  <div class="event-card__info-item">
    <app-ui-icon [iconName]="'bag'"></app-ui-icon>
    {{eventCard?.vehicle?.gearbox}}
  </div>

  <div class="event-card__info-item" *ngIf="eventCard?.vehicle?.ac">
    <app-ui-icon [iconName]="'climat'"></app-ui-icon>
  </div>
</div>

