<div class="event-card__title">
  <a class="event-card__link"
     href="https://google.com">
    {{eventCard.title}}
  </a>
</div>
<div class="event-card__info">
  <div class="event-card__info-item">
    <app-ui-icon [iconName]="'place'"></app-ui-icon>
    {{eventCard?.place?.category}}
  </div>

</div>
