<div class="event">

  <div class="event-time">
    <span class="event-time__current">{{event.st | date: 'H:mm'}}</span>
    <span class="event-time__duration">{{event.duration}} m</span>
  </div>

  <div class="event-card" [ngClass]="{'event-card--edit': isEdit}">

    <ng-container *ngIf="!isEdit" else>

      <picture class="event-card__img">
        <!-- different images sources -->
        <img src="assets/images/events/{{event?.type}}.png" alt=""/>
      </picture>

      <div class="event-card__content {{event.type}}" [ngSwitch]="event.type">
        <app-meta-car-info [eventCard]="event" *ngSwitchCase="'car-rental'"></app-meta-car-info>

        <app-meta-hotel-info [eventCard]="event" *ngSwitchCase="'hotel'"></app-meta-hotel-info>

        <app-meta-place-info [eventCard]="event" *ngSwitchCase="'place'"></app-meta-place-info>
      </div>

      <div class="event-card__control">
        <app-button [text]="'Change'"
                    (click)="enableEditMode()"
                    [iconName]="'edit'"
        >

        </app-button>
        <app-button [text]="'Delete'"
                    [className]="'btn--danger'"
                    [iconName]="'deleteIcon'"
                    (click)="deleteEvent(index)"
        ></app-button>
      </div>
    </ng-container>

    <ng-container #editMode *ngIf="isEdit">
      <app-event-card-edit
        [eventCard]="event"
        (emitSaveCard)="emitSaveCard($event)"
        (emitCancelEdits)="emitCancelEdits($event)"
      > </app-event-card-edit>
    </ng-container>

  </div>
</div>
