@import 'src/styles/variables';
@import 'src/styles/mixins';

.event {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;

  &:hover {

    .event-time__current,
    .event-time__duration {
      color: map-get($baseColors, 'blue');
      @include transition(color);
    }
  }
}

.event-time {
  position: absolute;
  top: 50%;
  left: -95px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80px;
  height: 80px;
  background: #fff;

  @include max1200 {
    left: -91px;
  }

  @include max640 {
    left: 0;
    top: -15px;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    height: 20px;
  }

  &__current {
    color: map-get($baseColors, 'lightGrey');
    font-size: 16px;

    @include max640 {
      color: map-get($baseColors, 'blue');
    }
  }

  &__duration {
    margin-top: 5px;
    color: map-get($baseColors, 'lightGrey');
    font-size: 13px;

    @include max640 {
      margin: 0 0 0 10px;
      color: map-get($baseColors, 'blue');
    }
  }
}

.event-card {
  display: flex;
  align-items: center;
  padding: 9px 20px 9px 10px;
  width: 100%;
  flex-grow: 1;
  min-height: 120px;
  background: #fff;
  border: 1px solid #dfe2e5;
  border-radius: 2px;
  animation: fade 0.4s forwards;

  @include max360 {
    padding-right: 10px;
  }

  &--edit {
    opacity: 0;
    padding: 9px 20px 9px 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    animation: fade 4s forwards;
    @include transition(box-shadow);
  }

  &__img {
    display: flex;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border: 1px solid #e6e6e6;

    @include max360 {
      width: 90px;
      height: 90px;
      overflow: hidden;
    }

    source,
    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__title {
    padding: 10px 0 6px;

    @include max480 {
      padding: 3px 0;
    }

    small {
      font-size: 13px;
      color: map-get($baseColors, 'grey');

      @include max480 {
        display: block;
      }
    }
  }

  &__link {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font: {
      size: 18px;
      weight: normal;
    };
    color: map-get($baseColors, 'blue');

    @include max1366 {
      font-size: 16px;
      line-height: 20px;
    }

    @include max900 {
      display: -webkit-box;
    }

    @include max480 {
      font-size: 14px;
      padding-right: 10px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 25px 0 15px;

    @include max480 {
      padding: 0 20px 0 15px;
    }

    @include max360 {
      padding: 0 5px 0 10px;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin: 0 10px 10px 0;
    white-space: nowrap;
    font: {
      size: 13px;
      weight: normal;
    };
    color: map-get($baseColors, 'darkGrey');

    @include max480 {
      margin-right: 5px;
    }

    app-ui-icon {
      flex-shrink: 0;
      width: 14px;
      height: 14px;
      margin-right: 5px;

      @include max480 {
        margin-right: 4px;
      }

      @include max360 {
        width: 11px;
        height: 10px;
        margin-right: 3px;
      }
    }

    &--car {

      app-ui-icon {
        margin-right: 8px;
      }

      em {
        padding-left: 10px;
        font-style: normal;
      }

      > span {
        display: block;
        height: 14px;
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include max480 {
          width: 115px;
        }

        @include max360 {
          width: 100px;
        }
      }
    }

    &--hotel-rate {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px 6px;
      font: {
        size: 11px;
        weight: 600;
      };
      color: #fff;
      background: #00c33b;
      border-radius: 2px;
    }

    &--category {

      > span {
        @include max480 {
          display: none;
        }
      }
    }

    &--stars {

      app-ui-icon {
        margin-right: 2px;
      }
    }

    svg {

      &,
      span {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
    margin-left: auto;

    app-button {
      width: 100%;

      &:last-child {
        margin-top: 10px;

        @include max640 {
          margin-top: 15px;
        }
      }
    }

    .btn {
      width: 100%;

      @include max900 {
        width: 45px;
        height: 45px;
        padding: 0;

        &__text {
          display: none;
        }
      }

      @include max640 {
        width: 30px;
        height: 30px;
      }

      app-ui-icon {
        display: none;

        @include max900 {
          display: flex;
          width: 30%;
          height: 30%;
        }

        @include max640 {
          width: 50%;
          height: 50%;
        }

        span,
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.card-wrp {

  &:last-child {

    .event-next {
      display: none;
    }
  }
}

@keyframes fade {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
