@mixin transition($prop: all, $time: 0.3s, $type: ease-in) {
  transition: $prop $time $type;
}

@mixin max1366 {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin max1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin max1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin max900 {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin max640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin max480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin max360 {
  @media (max-width: 360px) {
    @content;
  }
}
