<div class="events-list">
  <div class="events-list__schedule schedule" *ngIf="eventsCard.length">
    <span class="schedule__line"></span>
  </div>
  <div class="events-list__content">
    <ng-container *ngFor="let event of eventsCard; let i = index">

      <app-new-event-card>
      </app-new-event-card>

      <app-event-card
        [index]="i"
        [event]=event
        (emitDeleteCard)="onDeleteCard($event)"
      ></app-event-card>

    </ng-container>
    <ng-container *ngIf="!eventsCard.length">
      <h4 class="events-list__empty">
        К сожалению, на данный момент нет никаких событий.</h4>
    </ng-container>
  </div>
</div>


