@import 'src/styles/variables';
@import 'src/styles/mixins';

.events-list-wrp {
  width: 60vw;
  max-width: 800px;

  @include max1024 {
    width: 80vw;
  }

  @include max900 {
    width: 90vw;
  }

  @include max640 {
    width: 100%;
  }
}

.events-list {
  position: relative;
  display: flex;
  padding: 0 40px 0 5px;
  margin: 20px 0;

  @include max640 {
    padding: 0 20px;
  }


  .new-event {
    margin: 30px 0;

    @include max640 {
      width: calc(100% - 120px);
      margin: 42px 0 42px auto;
    }

    @include max360 {
      padding: 10px 10px;
    }


    &__default {
      @include max640 {
        left: -105px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 25px;
      }

      app-ui-icon {

        &,
        span {
          @include max640 {
            height: 14px;
          }
        }
      }
    }

    &__default-duration {
      @include max640 {
        margin: 0 0 0 10px;
      }
    }
  }

  .datepicker {
    @include max480 {
      width: auto;
    }

    &__btn {
      @include max480 {
        width: 30px;
      }
    }
  }

  .event-start {
    @include max480 {
      margin-right: 10px;
    }
  }

  .event-start,
  .event-duration {
    @include max480 {
      align-items: flex-start;
    }

    &__desc {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include max900 {
        width: 70px;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__empty {
    text-align: center;
    font-weight: 300;
    color: map-get($baseColors, 'blue');
  }
}

.schedule {
  position: relative;
  width: 112px;
  flex-basis: 112px;
  flex-shrink: 0;

  @include max1200 {
    width: 100px;
    flex-basis: 100px;
  }

  @include max640 {
    position: absolute;
    height: 100%;
    width: 50px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 6px;
    height: 6px;
    border: 1px solid map-get($baseColors, 'lightGrey');
    border-radius: 50%;
  }

  &:after {
    top: initial;
    bottom: -1px;
  }

  .schedule__line {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    border-right: 2px dashed map-get($baseColors, 'lightGrey');
  }
}
