@import 'src/styles/variables';
@import 'src/styles/mixins';

:host(.map) {
  flex: 1 1 auto;

  @include max1024 {
    margin-top: 40px;
    width: 100%;
  }
}

.map__content {

  img {
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
