<div class="event-card__start event-start">
  <span class="event-start__title">Start time</span>
  <span class="event-start__desc">Event start time</span>
  <app-datepicker [value]="eventCard.st | date: 'H:mm'"></app-datepicker>
</div>

<div class="event-card__start event-duration">
  <span class="event-duration__title">Duration</span>
  <span class="event-duration__desc">Choose event duration</span>
  <app-datepicker [value]="eventCard.duration"></app-datepicker>
</div>

<div class="event-card__control">
  <app-button [text]="'Save'"
              [iconName]="'edit'"
              (click)="saveCard(false)"></app-button>

  <app-button [text]="'Cancel'"
              [iconName]="'deleteIcon'"
              [className]="'btn--danger'"
              (click)="cancelCard(false)"
  ></app-button>
</div>
