@import 'src/styles/variables';
@import 'src/styles/mixins';

:host(.card-edit-wrp) {
  display: flex;
  width: 100%;
}

.event-start {
  margin-right: 25px;
}

.event-start,
.event-duration {
  display: flex;
  flex-direction: column;
}

.event-start__title,
.event-duration__title {
  font-size: 13px;
  color: map-get($baseColors, 'darkGrey');
}

.event-start__desc,
.event-duration__desc {
  margin: 5px 0 10px;
  font-size: 11px;
  color: map-get($baseColors, 'lightGrey');
}

