<div class="event-card__title">
  <a href="https://google.com"
     class="event-card__link"
     target="_blank">
    {{eventCard.title}}
  </a>
</div>
<div class="event-card__info">
  <div class="event-card__info-item event-card__info-item--hotel-rate">
    {{eventCard?.hotel?.rating}}
  </div>

  <div class="event-card__info-item event-card__info-item--category">
    <app-ui-icon [iconName]="'hotel'"></app-ui-icon>
    <span>{{eventCard?.hotel?.category}}</span>
  </div>

  <div class="event-card__info-item event-card__info-item--stars">
    <app-ui-icon
      *ngFor="let i of [].constructor(eventCard.hotel?.starRating)"
      [iconName]="'star'"
    ></app-ui-icon>
  </div>

</div>
